:root{
    --blue-color: rgb(20, 154, 207)
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.dashboard{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar{
    grid-column: 1/2;
    grid-row: 1/-1;
    background-color: var(--blue-color); 
    padding-top: 18px;   
}

.sidebar * {
    color: white;
}

.sidebar .grid-container{
    display: grid;
    /* outline: 2px solid green; */
    gap: 30px;
}




.header{
    background-color: red;
}

.main-content{
    background-color: yellowgreen;
}

.sidebar .services a, .main-logo a, .meta a{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    justify-content: start;
    /* gap: 8px; */
}

.sidebar .icon {
    justify-self: center;
}





.main-logo .icon{
    display: grid;
    grid-template-columns: 1fr 1fr;   
    width: 30%;
    /* outline: 2px solid green; */
}

.main-logo .icon, .left, .right{
    height: 100%;
    gap: 2px;
}
.left{
    display: grid;
    grid-template-rows: 62fr 38fr;
}

.right{
    display: grid;
    grid-template-rows: 38fr 62fr;
}
.left *, .right *{
    background-color: white;
    /* outline: 2px solid green; */
}




