:root{
    --blue-color: rgb(20, 154, 207);
    --grey-color: rgba(165, 180, 198, 0.361);
    --iconify-size: 48px;
    
}



* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 330;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

a, a:visited{
    color: red;
}

.dashboard{
    display: grid;
    grid-template-columns: 1.2fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar{
    grid-column: 1/2;
    grid-row: 1/-1;
    background-color: var(--blue-color); 
    padding-top: 18px;   
}

.sidebar * {
    color: white;
    font-weight: 500;
    font-size: 17px;
}

.sidebar .iconify {
    font-size: calc(0.4*var(--iconify-size));
}

.sidebar a{
    margin-bottom: 15px;
}

.sidebar .main-logo p{
    font-size: 20px;
}

.sidebar .grid-container{
    display: grid;
    /* outline: 2px solid green; */
    gap: 30px;
}




.header{
    background-color: red;
}

.main-content{
    padding-bottom: 50px;
}

.sidebar .services a, .main-logo a, .meta a{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    justify-content: start;
    /* gap: 8px; */
}
.services a *, .meta a *{
    align-self: center;
}

.sidebar .icon {
    justify-self: center;
}





.main-logo .icon{
    display: grid;
    grid-template-columns: 1fr 1fr;   
    width: 35%;
    /* outline: 2px solid green; */
}

.main-logo .icon, .left, .right{
    height: 100%;
    gap: 3px;
}
.left{
    display: grid;
    grid-template-rows: 62fr 38fr;
}

.right{
    display: grid;
    grid-template-rows: 38fr 62fr;
}
.left *, .right *{
    background-color: white;
    /* outline: 2px solid green; */
}




.header{
    display: grid;
    align-content: space-around;
    padding: 0 18px;

    background-color: white;
}



.header .top, .header .top .search-section, .header .top .additional, .header .bottom, .header .bottom .handle{
    display: grid;
    grid-auto-flow: column;
}

.header .top{
    /* gap: 100px; */
    grid-template-columns: 7fr 3fr;

}

.search-section{
    /* height: 45px; */
}

.header .bottom, .header .top{
    grid-template-columns: 6fr 4fr;
  
}

.handle{
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
}

.handle > *{
    /* grid-column: 3/7; */
    align-self: center;
}
.handle img{

    /* grid-column: 2; */
    /* justify-self: center; */
    /* margin-right: 20px; */
    height: 60px;
    width: 60px;
}

.handle p, .additional p, .handle a{
    font-size: 20px;
    font-weight: 800;
}
.handle p.small{
    font-size: 10px;
    margin-bottom: 4px;
    font-weight: 800;
}

.additional p{
    font-size: 15px;
}




.search-section input{
    padding: 4px;
    padding-left: 8px;
    background-color: var(--grey-color);
    border-radius: 15px;
    /* height: 100%; */
    font-size: 18px;
    height: 80%;
    align-self: center;

    /* outline: 2px solid black; */
    margin-left: -15px;
    border: none;
    
}

.header .iconify{
    font-size: calc(0.4 * var(--iconify-size));
}

.top .icon{
    align-self: center;
}

.top > *{
    /* height: 80%; */
}

.search-section, .handle{
    grid-template-columns: 1fr 10fr;
    /* outline: 2px solid black; */
    /* margin-right: 120px; */
    margin-left: 50px;
    
}

.additional{
    margin-left: 120px;
    gap: 5px;
    padding-right: 15px;
    /* padding-bottom: 5px; */
}

.additional img{
    height: 40px;
    width: 40px;

    /* height: 30px;
    width: 30px; */
}
.additional *{
    align-self: center;
    /* outline: 2px solid black; */
}

.top .additional,.bottom .handle, .bottom .buttons{
    /* outline: 2px solid black; */
}

.buttons{
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
    justify-content: end;
}

.buttons button{
    background-color: var(--blue-color);
    border-radius: 25px;
    color: white;
    /* width: 80%; */
    padding: 0;
    margin: 0;
    font-weight: 600;
    border: 0px;

    height: 40px;
    width: 105px;
    align-self: center;

}




.main-content{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: var(--grey-color);
    align-content: space-between;

}
.projects-section, .announcements-section, .trending-section{
    grid-column: 1/5;
    display: grid;
    grid-template-rows: 40px 1fr;
    padding: 8px;
    
}

.projects-section{
    margin-left: 10px;
    /* height: 80%; */
}

.project-card{
    font-size: 14px;
}

p.section-name{
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
    margin-bottom: 10px;
}


.project-title, .announcement-title{
    font-size: 16px;
    font-weight: 600;
}


.announcements{
    border-radius: 8px;

}

.announcements hr{
    margin: 0;
    padding: 0;
    /* margin-top: 25px; */
    background-color: var(--grey-color);
    height: 0.5px;
}

.announcements p{
    padding: 0 10px;
    margin-bottom: 20px;
}

.announcement-title{
    font-size: 14.5px;
    margin: 0;
}

.announcement-post{
    margin: 15px;
    font-size: 13px;
    padding: 10px;
}
p.three-icons{
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 18px;
    height: 20px;
}
p.three-icons *{
    font-size: calc(0.4*var(--iconify-size));
    /* outline: 2px solid black; */
}

.project-card{
    display: grid;
    
    align-content: space-between;
    /* height: 80%; */

    padding: 15px;
    padding-bottom: 30px;
    border-left: 10px solid goldenrod;
    border-radius: 10px;
    /* outline: 2px solid black; */
}
.project-card > *{
    /* outline: 2px solid black;     */
}

.projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(auto-fit, minmax(150px, 210px)); */
    grid-auto-flow: row;
    justify-content: space-around;
    /* outline: 2px solid black; */
    gap: 20px;
    
}
.project-card, 
.announcements, 
.trending-section .account{
    /* outline: 2px solid black; */
    background-color: white;
}

.extra{
    grid-column: -3/-1;
    /* max-width: 80%; */
    /* margin: 0 20px; */
    outline: 2px solid black;
}


.account{
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: 50px 1fr;
    padding: 15px;
    gap: 16px;
}

img{
    height: 50px;
    width: 50px;
    /* margin: 30px; */
    border-radius: 60px;
    
}

.account p{
    outline: 1px solid red;
}
.account-info{
    align-self: center;
    justify-self: end;
    grid-column-start: 2;
}